*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    height: 100%;
    width: 100%;
}

.main {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}


.shape{
    height: 200px;
    width: 200px;
    margin-top: 10px;
    margin-left: 10px;
    border: 2px solid black;
    align-items: center;
    justify-content: center;
    display: flex;

}

.circle{
    
    border-radius: 50%;
}

.circle:hover{
    background-color: aqua;
    border-radius: 50%;
}

.diamond{
    rotate: 45deg;
    margin-top: 50px;
}

.diamond:hover{
    rotate: 45deg;
    margin-top: 50px;
    background-color: green;
}


.diamond h1{
    rotate: -45deg;
}

.square:hover{
background-color: red;
}
